  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Real estate valuation</title>
    <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">

        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{ url_for('upload') }}">Upload Dataset</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('View') }}">View Dataset</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{ url_for('split') }}">Splitting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ model_performance }}">Model Performance</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('prediction') }}">Prediction</a>
            </li>

          </ul>
        </div>
        <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
          data-target="#navbarTogglerDemo01" aria-expanded="false">
        </button>
    </nav>
      <div class="intro intro-carousel">
        <div >

        <div class="carousel-item-a intro-item bg-image" style="background-image: url(static/img/ssp.jpg)">
          <div class="overlay overlay-a"></div>
          <div class="intro-content display-table">
            <div class="table-cell">
              <h2 style="color:white;margin-bottom: 57px;padding-left: 282px;padding-top: 0‒;border-top-width: 30px;">Real Estate Valuation Using Machine Learning </h2>
              <div class="container">
                  <div class="col-lg-8">
                    <div align="center" style="
    padding-left: 223px;
" >
                      {% if msg=='suc' %}
                          <h2 style="color:white;width: 766px"> The Accuracy Of The {{j}} Is {{ acc }}</h2>
                        <p style="width: 766px"> Whenever R2 Score is Closer To 1, we will Consider It As  better Accuracy.</p>
                      {% endif %}
                       <form action="{{ url_for('model_performance') }}" method="post"style="
    width: 700px;
" >
									<label for="algo">Select a Model:</label>
									<select id="algo" name="algo" style="width: 30%">
										<option value="0">Select Model</option>
									  	<option value="1"> Linear Regression </option>
                                        <option value="2"> Decision Tree  </option>
                                      
                                        <option value="3">KNN </option>
									</select>
									<br>
									<input type="submit">
								</form>
</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    <script src="static/js/main.js"></script>
  </body>
  </html>
